# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
dist/
build/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage results
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Secrets, Credentials, and Sensitive Info
*.pem
*.key
*.crt
*.env
secrets.json
credentials.json

# Other entries...
*.bat